name: Deploy to AWS

on:
  push:
    branches: [ master, main ]
    # main 또는 master 브랜치에 푸시될 때 실행
    #기본 git branch가  로컬서 만들면 master
    # git hub에서 만들면 main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # 1. Java 설정 및 빌드 (사용자님 메모 전략 반영)
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew clean build -x test
      # 2. DockerHub 이미지 빌드 및 푸시
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker Image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/myapp_jpa_join:1.0 .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/myapp_jpa_join:1.0

      # 3. AWS EC2에 접속하여 배포 명령
      - name: Deploy to AWS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ${{ secrets.AWS_USERNAME }}
          key: ${{ secrets.AWS_KEY }}
          envs: DB_PASSWORD, DB_URL, DB_USERNAME
          script: |
              export DB_PASSWORD=${{ secrets.DB_PASSWORD }}
              export DB_URL=${{ secrets.DB_URL }}
              export DB_USERNAME=${{ secrets.DB_USERNAME }}
              cd ~ # docker-compose.yml이 있는 위치로 이동
              docker compose pull
              docker compose down -v
              docker compose up -d
              docker compose restart app
            
